<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Fertilizer or Pesticide</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Add Fertilizer/Pesticide</h1>
    <form method="POST" action="{{ url_for('add_fertilizer_pesticide') }}">
        {{ form.hidden_tag() }}
        <p>
            {{ form.product_name.label }}<br>
            {{ form.product_name(size=32) }}
        </p>
        <p>
            {{ form.type.label }}<br>
            {{ form.type() }}
        </p>
        <p>
            {{ form.quantity_used.label }}<br>
            {{ form.quantity_used(size=32) }}
        </p>
        <p>
            {{ form.cost.label }}<br>
            {{ form.cost(size=32) }}
        </p>
        <p>
            <label for="crop_ids">Select Crops:</label><br>
            <select name="crop_ids" id="crop_ids" multiple>
                {% for crop in crops %}
                    <option value="{{ crop.CropId }}">{{ crop.CropName }}</option>
                {% endfor %}
            </select>
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</body>
</html>
